.maintext {
    margin-left: 5%;
    margin-right: 5%;

}

.tableofcontents {    
     margin-left: 5%;
     margin-bottom: 5%;
     margin-top: 5%;

}

li {
    margin-bottom: 1%;
    margin-top: 1%;
}

.headeroftandc {
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

h4 { 
    margin-bottom: 2%;
    margin-top: 2%;

}

#addbutton {
    width: 40%;
    margin-left: 30px;
    
}

.consentform {
    align-items: center;
    margin-left: 30%;
}