.contact {
    .card {
      padding: 1rem;
      border: 1px solid #ccc;
    }
 
  
    .section {
      display: flex;
      align-items: flex-start;
  
      form {
        width: 500px;
        max-width: 100%;
        margin-right: 1rem;
        margin-bottom: 1rem;

        label {
          display: block;
          font-size: 1.4rem;
          font-weight: 500;
        }
        input[type="text"],
        input[type="number"],
        input[type="file"],
        input[type="email"],
        select,
        textarea,
        input[type="password"] {
          display: block;
          font-size: 1.6rem;
          font-weight: 300;
          padding: 1rem;
       //   margin: 1rem auto;
          width: 100%;
          border: 1px solid #777;
          border-radius: 3px;
          outline: none;
        }
      }
    }
  }
  
  @media screen and (max-width: 700px) {
    .contact {
      .section {
        flex-direction: column;
      }
    }
  }
  
  .contactcontainer {
    background-color: white;
    border: 2px;
    position: relative;
    overflow: initial;
    border: 1px solid;
    width: fit-content;
    margin-right: 10%;
    opacity: 100%;
    box-shadow: 5px 10px;
    margin-left: 1%;
  }

  .image-support {
    width: 100%;

  }
  #imagesupportid {
    width: 100%;
  }