
  .container {
    width: 30%;
    height: auto;
    max-width: 500px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    margin-top: 100px;
    padding: 3rem 2rem;
    display: inline-flexbox;
  }
  
  .symptoms-form-input {
    height: 4rem;
    font-size: 1.6rem;
    padding: 0 5px;
    outline: none;
  }

  .symptoms-form button:hover {
    background-color: var(--color-primary);
  }
  
  .symptoms {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #eee;
    padding: 10px;
    margin: 7px 0;
    animation: slide-in ease 0.5s;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(40px);
    }
    50% {
      transform: translateX(-20px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .symptom::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 5px;
    background-color: var(--color-danger);
  }
  

  .symptomicons {
    font-size: 1.6rem;
    padding-left: 80%;
  }
  
  .symptomicons > * {
    margin-left: 7px;
    cursor: pointer;
  }

  .icon {
    cursor: pointer;
    font-size: 3rem;
    padding-left: 15px;
  }

  #red {
    color: red;
  }

  .title {
     margin-left: 10%;
     align-items: center;
  }

  .rating {
    margin-left: 20%;
    padding-bottom: 90%;
  }

  .name {
    margin-bottom: 6%;
  }

 .symptoms-form-input {
  width: 12%;
 }

.addbutton {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 6px 8px;
  margin: 15px 5px 0px 25%;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  color: #fff;
  background: var(--light-green);
  border: 2px solid #0000;
  width: 30%;

}

.symptomslisttitle {
  color: var(--dark-green);
  font-size: 25px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

.symptomslistcontainer {
  background-color: white;
    width: 70%;
    border: 2px;
    position: relative;
    overflow: initial;
    border: 1px solid;
    width: 100%;
    block-size: fit-content;
    margin-right: 10%;
    opacity: 100%;
}

.cardcontainer {
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 15%;

}


Table {
  padding: 5%;
  margin-top: 5%;
}

.downloadbtns {
  margin-left: 65%;
  margin-top: 0%;
}

.csvbutton {
  background-color: var(--color-red);
  width: 25vw;
 
}

.pdfbutton {
  background-color: var(--light-green);
  color: white;
  width: 25vw;

}

Button:hover {
  background-color: white;
  color: var(--color-red);

}




.contact {
  .card {
    padding: 1rem;
    border: 1px solid #ccc;

  }


  .section {
    display: flex;
    align-items: flex-start;
    margin-left: 3%;

    form {
    //  width: 500px;

      max-width: 100%;
      margin-right: 1rem;
      margin-bottom: 1rem;

      label {
        display: block;
        font-size: 1.4rem;
        font-weight: 500;
      }
      
    }
  }
}

@media screen and (max-width: 700px) {
  .contact {
    .section {
      flex-direction: column;
    }
  }
}

.symptomslistcontainer {
  background-color: white;
  width: 70%;
  border: 2px;
  position: relative;
  overflow: initial;
  border: 1px solid;
  width: 100%;
  //block-size: fit-content;
  margin-right: 10%;
  opacity: 100%;
  margin-left: 1%;
}

.login-box-symptom {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: row-reverse;
  max-width: 100%;
  max-height: fit-content;
  background-color: white;
  overflow: hidden;
  border-radius: 12px;
}

.login-page-symptom {
  display: flex;
  justify-content: left;
  align-items: left;
  min-height: 10vh;
}

@media screen and (max-width: 480px) {
  .csvbutton {
    background-color: var(--color-red);
    width: 50vw;
   
  }
  
  .pdfbutton {
    background-color: var(--light-green);
    color: white;
    width: 50vw;
  
  }
}