.card {
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}


@media only screen and (max-width: 480px) {
 
  .card{
    width: 99%;
  }
  h1 {
    width: 40vw;

  }
} 