.dashboardcontainer {
    background-color: white;
    width: 70%;
    border: 2px;
    position: relative;
    overflow: initial;
    border: 1px solid;
    width: 100%;
    block-size: fit-content;
    margin-right: 10%;
    opacity: 100%;
    box-shadow: 5px 10px;
    margin-left: 1%;

}

#dougnutid {
    width: 10%;
}

#cardlinedataid { 
    width: 30%;

}