.alert {
  width: 100%;
  border: 1px solid var(--color-red);
  border-radius: 3px;
  background-color: var(--color-red);
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

.v-link {
  cursor: pointer;
  color: var(--dark-green);
}

.alert p {
  font-size: 1.3rem;
}
@media screen and (max-width: 600px) {
  .alert p {
    font-size: 1.2rem;
  }
}
